<svg viewBox="0 0 40 40">
  
    <circle cx="20" cy="20" r="19" />

    <g class="marks">
        <line x1="15" y1="0" x2="16" y2="0" />
        
    </g>
    
    
    <path  stroke="black" class="data1" ></path>
    <path  stroke="black" class="data2" ></path>
    <path  stroke="black" class="data3" ></path>
    <path  stroke="black" class="data4" ></path>
    <path  stroke="black" class="data5" ></path>
    
  <line x1="0" y1="0" x2="18" y2="0" class="redline" />

  <circle cx="20" cy="20" r="0.7" class="pin" />

</svg>

<br>
<br>
<br>


<ul>
  <li><h6 class = "legend1">{{legend[1]}}</h6></li>
  <li><h6 class = "legend2">{{legend[2]}}</h6></li>
  <li><h6 class = "legend3">{{legend[3]}}</h6></li>
  <li><h6 class = "legend4">{{legend[4]}}</h6></li>
  <li><h6 class = "legend5">{{legend[5]}}</h6></li>
</ul>


<br>
<br>
<br>

<input [formControl]="clockdata">

<button
    type="submit"
    (click)="onSubmit()">SUBMIT</button>

  
